<div class="container-fluid">
  <div class="tabs-container">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href="#">Datos personales</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Hábitos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Funciones biológicas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Actividad física fuera del trabajo (OMS)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">Antecedentes familiares y personales</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Evaluación antropométrica (OMS)</a>
      </li>
    </ul>
  </div>
</div>

<div class="container mt-4">
    <div class="card card-custom mt-3">
      <form>
        <div class="form-grid">
          <div class="form-group">
            <label for="alcohol" class="form-label">Diabetes:</label>
            <select class="form-control" id="alcohol">
              <option value="">Seleccione una opción</option>
              <option value="no">DM  FAMILIAR</option>
              <option value="si">DM PERSONAL</option>
              <option value="si">AMBOS</option>
              <option value="si">NINGUNA</option>
            </select>
          </div>
          <div class="form-group">
            <label for="tabaco" class="form-label">Enf. Coronarias:</label>
            <select class="form-control" id="tabaco">
              <option value="">Seleccione una opción</option>
              <option value="no">(CHD) FAMILIAR</option>
              <option value="si">(CHD) PERSONAL</option>
              <option value="si">AMBOS</option>
              <option value="si">NINGUNA</option>
            </select>
          </div>
          <div class="form-group">
            <label for="tabaco" class="form-label"> Hipertensión:</label>
            <select class="form-control" id="tabaco">
              <option value="">Seleccione una opción</option>
              <option value="no">HTA FAMILIAR</option>
              <option value="si">HTA PERSONAL</option>
              <option value="si">AMBOS</option>
              <option value="si">NINGUNA</option>
            </select>
          </div>
          <div class="form-group">
            <label for="tabaco" class="form-label"> Obesidad:</label>
            <select class="form-control" id="tabaco">
              <option value="">Seleccione una opción</option>
              <option value="no">OBESIDAD FAMILIAR</option>
              <option value="si">OBESIDAD PERSONAL</option>
              <option value="si">NINGUNA</option>
              <option value="si">AMBOS</option>
            </select>
          </div>

          <div class="form-group">
            <label for="tabaco" class="form-label"> Dislipidemias:</label>
            <select class="form-control" id="tabaco">
              <option value="">Seleccione una opción</option>
              <option value="no">DISLIPIDEMIA FAMILIAR</option>
              <option value="si">DISLIPIDEMIA PERSONAL</option>
              <option value="si">AMBOS</option>
              <option value="si">NINGUNA</option>
            </select>
          </div>
        </div>
        <a class="btn btn-custom float-right fw-bold" (click)="atras()">Atrás </a>
        <a class="btn btn-custom float-end fw-bold" routerLink="/pacientes/evaluacion-antropometrica">Siguiente </a>
      </form>
    </div>
  </div>
  