:host {
  c-sidebar {
    background-color: #4EBAB0; 

    .c-sidebar-nav-link,
    .c-sidebar-nav-title,
    .c-sidebar-nav-dropdown-toggle,
    .custom-nav-text-white { 
      color: #ffffff !important; 
      font-weight: bold; 
    }

   
    
    .custom-nav-text-white {
      color: white !important; 
      font-weight: bold; 
    }

    .c-sidebar-nav .c-sidebar-nav-dropdown-toggle .fas,
    .c-sidebar-nav .c-sidebar-nav-dropdown-toggle .cil {
      color: #ffffff !important; // Color blanco para los íconos dentro de los dropdowns
    }
  }
}

// Estilo adicional para la imagen del logo
.logo-container img {
  width: 200px;
  margin-left: 15px;
  margin-right: 15px;
}
