<div class="container mt-5">
    <div class="card card-custom mt-3">
      <form>
        <div class="form-grid">
          <div class="form-group">
            <label for="alcohol" class="form-label">Alcohol:</label>
            <select class="form-control" id="alcohol">
              <option value="">Seleccione una opción</option>
              <option value="no">No(-)</option>
              <option value="si">SI(+)</option>
              <option value="si">SI(++)</option>
              <option value="si">SI(+++)</option>
            </select>
          </div>
          

          <div class="form-group">
            <label for="tabaco" class="form-label">Tabaco:</label>
            <select class="form-control" id="tabaco">
              <option value="">Seleccione una opción</option>
              <option value="no">No(-)</option>
              <option value="si">SI(+)</option>
              <option value="si">SI(++)</option>
              <option value="si">SI(+++)</option>
            </select>
          </div>
          <div class="form-group">
            <label for="dia" class="form-label">N° Cig/Día:</label>
            <input type="number" class="form-control" id="dia">
          </div>
        </div>

        <a class="btn btn-custom float-start fw-bold" type="button" routerLink="/pacientes/habitos">Atrás</a>
        <a class="btn btn-custom float-end fw-bold" routerLink="/pacientes/funciones-biologicas">Siguiente </a>
      </form>
    </div>
  </div>
  