<div class="container-fluid">
  <div class="tabs-container">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href="#">Datos personales</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Hábitos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Funciones biológicas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">Actividad física fuera del trabajo (OMS)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Antecedentes familiares y personales</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Evaluación antropométrica (OMS)</a>
      </li>
    </ul>
  </div>
</div>
<div class="container mt-4">
    <div class="card card-custom mt-3">
      <form>
        <div class="form-grid">
            <div class="form-group">
                <label for="tipo" class="form-label">Tipo:</label>
                <select class="form-control" id="tipo">
                  <option value="" >Seleccione una opción</option>
                  <option value="Caminar lento">Caminar lento</option>
                  <option value="Caminar rápido">Caminar rápido</option>
                  <option value="Caminar de subida">Caminar de subida</option>
                  <option value="Caminar de bajada">Caminar de bajada</option>
                  <option value="Subir escaleras">Subir escaleras</option>
                  <option value="Ejercicios aeróbicos-Baja intensidad">Ejercicios aeróbicos-Baja intensidad</option>
                  <option value="Ejercicios aeróbicos-Alta intensidad">Ejercicios aeróbicos-Alta intensidad</option>
                </select>
              </div>
              <div class="form-group">
                <label for="intensidad" class="form-label">Intensidad:</label>
                <select class="form-control" id="intensidad">
                  <option value="Seleccione una opción">Seleccione una opción</option>
                  <option value="Sedentario">Sedentario</option>
                  <option value="Sedentario o actividad ligera">Sedentario o actividad ligera</option>
                  <option value="Activo o actividad moderada">Activo o actividad moderada</option>
                  <option value="Vigoroso o actividad fuerte">Vigoroso o actividad fuerte</option>
                </select>
              </div>
          <div class="form-group">
            <label for="frecuencia" class="form-label">Frecuencia:</label>
            <select class="form-control" id="frecuencia">
              <option value="">Seleccione una opción</option>
              <option value="Sin actividad">Sin actividad</option>
              <option value="3 Hs/Sem">3 Hs/Sem</option>
              <option value="3 Hrs/Sem">3 Hrs/Sem</option>
              <option value="4-5 Hrs/Día">4-5 Hrs/Día</option>
            </select>
          </div>
          <div class="form-group">
            <label for="duracion" class="form-label">Duración:</label>
            <input type="number" class="form-control" id="duracion">
          </div>
          <div class="form-group">
            <label for="actividad" class="form-label">Fc.Actividad:</label>
            <input type="number" class="form-control" id="actividad">
          </div>
        </div>
        <a class="btn btn-custom float-right fw-bold" (click)="atras()">Atrás</a>
        <a class="btn btn-custom float-end fw-bold" routerLink="/pacientes/antecedentes-familiares">Siguiente</a>
      </form>
    </div>
  </div>
  
