
<section class="full-box tile-container" style="margin-top: 4%;">
  <div class="row">
      <div class="col-lg-4 mb-4">
          <div class="card border-custom rounded-3 shadow-sm h-100">
              <div class="card-body d-flex align-items-center justify-content-between">
                  <div class="text-start">
                      <h5 class="card-title mb-0">Pacientes</h5>
                      <p class="card-text text-muted mb-0">5 Registrados</p>
                  </div>
                  <i class="fas fa-users fa-3x text-primary"></i>
              </div>
          </div>
      </div>

      <div class="col-lg-4 mb-4">
          <div class="card border-custom rounded-3 shadow-sm h-100">
              <div class="card-body d-flex align-items-center justify-content-between">
                  <div class="text-start">
                      <h5 class="card-title mb-0">Reportes</h5>
                      <p class="card-text text-muted mb-0">10 Generados</p>
                  </div>
                  <i class="fas fa-chart-bar fa-3x text-success"></i>
              </div>
          </div>
      </div>
      <!-- Alimentos -->
      <div class="col-lg-4 mb-4">
          <div class="card border-custom rounded-3 shadow-sm h-100">
              <div class="card-body d-flex align-items-center justify-content-between">
                  <div class="text-start">
                      <h5 class="card-title mb-0">Alimentos</h5>
                      <p class="card-text text-muted mb-0">
                      </p>
                  </div>
                  <i class="fas fa-utensils fa-3x text-warning"></i>
              </div>
          </div>
      </div>
          <div class="col-lg-12 mb-4">
              <div class="card border-custom rounded-3 shadow-sm h-100">
                  <div class="card-body">
                      <div class="text-start">
                          <h5 class="card-title mb-0">Somatocarta Grupal</h5>
                      </div>
                      <img src="assets/images/somatocarta.png" class="img-fluid mt-3" alt="Somatocarta Grupal">
                  </div>
              </div>
          </div>
      </div>
</section>