:host {
  .legend {
    small {
      font-size: x-small;
    }
  }
}
.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #ffffff; 
  
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1); 
}

.border-custom {
  border-color: #4EBAB0; 
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333333; 
}

.card-text {
  color: #6c757d; 
}

.fa-3x {
  font-size: 3rem; 
}