
.tabs-container {
  background-color: #ffffff; 
  padding: 10px;
  border-radius: 12px 12px 12px 12px; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
}
.nav-tabs {
  border-bottom: none; 
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap; 
}
.nav-tabs .nav-item {
  margin: 0 5px; 
  flex: 1; 
  text-align: center; 
}
.nav-tabs .nav-link {
  border: 2px solid transparent;
  border-radius: 12px 12px 12px 12px;
  color: black; 
  padding: 8px 15px;  
  background-color: #f0f9ff; 
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  display: block; 
  line-height: 1.2; 
  height: 74px; 
}

.nav-tabs .nav-link.active {
  background-color: #e3f2fd;
  border-color: #4EBAB0;
  border-width: 3px; 
  color: black;
  font-weight: bold;
}
.nav-tabs .nav-link:hover {
  background-color: #d1e7ff; 
  color: #00274d; 
}






.card-custom {
    background-color:#bae4e0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 15px; 
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .btn-custom {
    background-color: #4EBAB0;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
  }
  