<div class="container-fluid">
    <div class="tabs-container">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" href="#">Datos personales</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Hábitos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Funciones biológicas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Actividad física fuera del trabajo (OMS)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Antecedentes familiares y personales</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Evaluación antropométrica (OMS)</a>
        </li>
      </ul>
    </div>
  </div>
<div class="container mt-4 mb-4">
    <div class="card card-custom mt-3">
      <form>
        <div class="form-grid">
            <div class="form-group">
               <label for="perimt.brazo" class="form-label">Perimt.Brazo contraido(cm):</label>
                <input type="number" class="form-control" id="perimt.brazo">
            </div>
            <div class="form-group">
                <label for="duracion" class="form-label">Diametro Húmero(cm)</label>
                 <input type="number" class="form-control" id="duracion">
             </div>
             <div class="form-group">
                <label for="duracion" class="form-label">P. Pantorrila(cm):</label>
                 <input type="number" class="form-control" id="duracion">
             </div>
             <div class="form-group">
                <label for="duracion" class="form-label">Diametro Femur(cm):</label>
                 <input type="number" class="form-control" id="duracion">
             </div>

             <div class="form-group">
                <label for="duracion" class="form-label">Pliegue Suprespinal(mm):</label>
                 <input type="number" class="form-control" id="duracion">
             </div>

             <div class="form-group">
                <label for="duracion" class="form-label">Pliegue Pantorrila(mm):</label>
                 <input type="number" class="form-control" id="duracion">
             </div>

             <div class="form-group">
                <label for="duracion" class="form-label">Peso Actual(Kg):</label>
                 <input type="number" class="form-control" id="duracion">
             </div>

             <div class="form-group">
                <label for="duracion" class="form-label">Talla(m):</label>
                 <input type="number" class="form-control" id="duracion">
             </div>
             <div class="form-group">
                <label for="duracion" class="form-label">Índice Ponderal:</label>
                 <input type="number" class="form-control" id="duracion">
             </div>
             <div class="form-group">
                <label for="duracion" class="form-label">Peso Ideal IMC=22.4:</label>
                 <input type="number" class="form-control" id="duracion">
             </div>
             <div class="form-group">
                <label for="duracion" class="form-label">Tipo Ob:</label>
                 <input type="text" class="form-control" id="duracion">
             </div>
             <div class="form-group">
                <label for="duracion" class="form-label">Circ.1/2 Brazo CB(cm):</label>
                 <input type="number" class="form-control" id="duracion">
             </div>

             <div class="form-group">
                <label for="duracion" class="form-label">IMC (OMS):</label>
                 <input type="number" class="form-control" id="duracion">
             </div>

             <div class="form-group">
                <label for="duracion" class="form-label">Cintura ATP III:</label>
                 <input type="number" class="form-control" id="duracion">
             </div>
             <div class="form-group">
                <label for="duracion" class="form-label">Perímetro Abdominal (cm):</label>
                 <input type="number" class="form-control" id="duracion">
             </div>
             <div class="form-group">
                <label for="duracion" class="form-label">Cadera (cm):</label>
                 <input type="number" class="form-control" id="duracion">
             </div>
             <div class="form-group">
                <label for="duracion" class="form-label">Rcto. Leu./UI:</label>
                 <input type="number" class="form-control" id="duracion">
             </div>
             <div class="form-group">
                <label for="duracion" class="form-label">ICC:</label>
                 <input type="number" class="form-control" id="duracion">
             </div>
             <div class="form-group">
                <label for="duracion" class="form-label">ICE:</label>
                 <input type="number" class="form-control" id="duracion">
             </div>
             <div class="form-group">
                <label for="duracion" class="form-label">% Adecuación Ingesta:</label>
                 <input type="number" class="form-control" id="duracion">
             </div>
             <div class="form-group">
                <label for="duracion" class="form-label">Calorias a Planificar:</label>
                 <input type="number" class="form-control" id="duracion">
             </div>
             <div class="form-group">
                <label for="duracion" class="form-label">TMB (Kcal):</label>
                 <input type="number" class="form-control" id="duracion">
             </div>
             <div class="form-group">
                <label for="duracion" class="form-label">GET (Kcal):</label>
                 <input type="number" class="form-control" id="duracion">
             </div>
             <div class="form-group">
                <label for="duracion" class="form-label">Ing. Calorica:</label>
                 <input type="number" class="form-control" id="duracion">
             </div>
             <div class="form-group">
                <label for="duracion" class="form-label">Circunferencia del Carpo (Cm):</label>
                 <input type="number" class="form-control" id="duracion">
             </div>
             <div class="form-group">
                <label for="duracion" class="form-label">Albumina (g/dL):</label>
                 <input type="number" class="form-control" id="duracion">
             </div>
             <div class="form-group">
                <label for="duracion" class="form-label">Pliegue Triccipital(mm):</label>
                 <input type="number" class="form-control" id="duracion">
             </div>
             <div class="form-group">
                <label for="duracion" class="form-label">Obesidad Central (Obc):</label>
                 <input type="number" class="form-control" id="duracion">
             </div>
             <div class="form-group">
                <label for="duracion" class="form-label">Pliegue Biccipital(mm):</label>
                 <input type="number" class="form-control" id="duracion">
             </div>
             <div class="form-group">
                <label for="duracion" class="form-label">Triglicéridos:</label>
                 <input type="number" class="form-control" id="duracion">
             </div>
             <div class="form-group">
                <label for="duracion" class="form-label">Pliegue Subescapular(mm):</label>
                 <input type="number" class="form-control" id="duracion">
             </div>
             <div class="form-group">
                <label for="duracion" class="form-label">c-HDL:</label>
                 <input type="number" class="form-control" id="duracion">
             </div>
             <div class="form-group">
                <label for="duracion" class="form-label">Pliegue Suprailiaco(mm):</label>
                 <input type="number" class="form-control" id="duracion">
             </div>
             <div class="form-group">
                <label for="diagnostico" class="form-label">Diagnóstico:</label>
                 <input type="text" class="form-control" id="diagnostico">
             </div>
        </div>
        <a class="btn btn-custom float-right fw-bold" (click)="atras()">Atrás </a>
        <a class="btn btn-custom float-end fw-bold" routerLink="/pacientes/funciones-biologicas">Guardar Registro </a>
      </form>
    </div>
  </div>
